<!DOCTYPE html>

<body>

    <head>
        <title>Create password</title>
        <link rel="stylesheet" href="style.css">
    </head>

    <body>
        <form action="" method="POST">
            <h1>Create new password</h1>
            <div>
                <label for="password">Password</label>
                <input type="password" name="password" id="password" />
            </div>
            <div>
                <label for="confirm_password">Confirm password</label>
                <input type="password" name="confirm_password" id="confirm_password" />
            </div>
            <button type="submit">Save</button>
        </form>
    </body>
</body>